body
{
    height:97vh;
    width:99%;
}

.C1
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:25%;
}

.C2
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:25%;
    flex:wrap;
}

.C3
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:50%;
}

h1
{
    width:40%;
    border:solid 0px black;
    border-left:5px solid black;
    border-right:5px solid black;
    border-radius:5px;
    text-align:center;

    font-family:'Times New Roman', Times, serif;
    font-size:2em;
    font-weight: bold;

    color:rgb(75, 0, 133);
}

button::-moz-focus-inner
{
    border: 0;
}

.Starter
{
    width: 100px;
    height:100px;
    border-radius:50%;
    border:solid 3px black;

    font-family:'Times New Roman', Times, serif;
    font-size:2em;
    font-weight: bold;

    background-color:red;
    color:white;
}

.Clicker:active
{
    font-size:3.7em;
}

.Clicker
{
    width: 150px;
    height:150px;
    border-radius:50%;
    border:solid 3px black;

    font-family:'Times New Roman', Times, serif;
    font-size:3em;
    font-weight: bold;

    background-color:red;
    color:white;
}

.Result1
{
    display:none;

    width:40%;

    border-top:5px solid black;
    border-bottom:5px solid black;

    border-radius:5px;
    text-align:center;

    font-family:'Times New Roman', Times, serif;
    font-size:1.5em;
    font-weight: bold;

    color:red;
}

.Result2
{
    display:none;

    width:40%;
    border:solid 0px black;
    border-left:5px solid black;
    border-right:5px solid black;
    border-radius:5px;
    text-align:center;

    font-family:'Times New Roman', Times, serif;
    font-size:1.5em;

    color:rgb(75, 0, 133);
}

.Result3
{
    display:none;

    width:40%;
    border:solid 0px black;
    border-left:5px solid black;
    border-right:5px solid black;
    border-radius:5px;
    text-align:center;

    font-family:'Times New Roman', Times, serif;
    font-size:1.5em;

    color:rgb(75, 0, 133);
}